<!doctype html>
<html>

<head>
    <link rel="shortcut icon" href="{{ url_for('static',
      filename='favicon.png')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',
      filename='css/products.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',
      filename='css/dropdown.css')}}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<div id="header">
    <div class="wrap">
        <nav>
            <ul class="primary">
                <li>
                    <a href="{{ url_for('offers_by_shop', shop='cooperativa') }}">Cooperativa</a>
                    <ul class="sub">
                        <li><a href="{{ url_for('offer', shop='cooperativa', category='aperitivos') }}">Aperitivos</a>
                        </li>
                        <li><a href="{{ url_for('offer', shop='cooperativa', category='cervezas') }}">Cervezas</a></li>
                        <li><a href="{{ url_for('offer', shop='cooperativa', category='cola') }}">Cola</a></li>
                        <li><a href="{{ url_for('offer', shop='cooperativa', category='lima') }}">Lima Limon</a></li>
                        <li><a href="{{ url_for('offer', shop='cooperativa', category='naranja') }}">Naranja</a></li>
                        <li><a href="{{ url_for('offer', shop='cooperativa', category='pomelo') }}">Pomelo</a></li>
                        <li><a href="{{ url_for('offer', shop='cooperativa', category='jugos') }}">Jugos</a></li>
                        <li><a href="{{ url_for('offer', shop='cooperativa', category='leches') }}">Leches</a></li>
                        <li><a href="{{ url_for('offer', shop='cooperativa', category='paniales') }}">Pañales</a></li>
                        <li><a href="{{ url_for('offer', shop='cooperativa', category='yogures') }}">Yogures</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{ url_for('offers_by_shop', shop='vea') }}">Vea</a>
                    <ul class="sub">
                        <li><a href="{{ url_for('offer', shop='vea', category='aperitivos') }}">Aperitivos</a></li>
                        <li><a href="{{ url_for('offer', shop='vea', category='cervezas') }}">Cervezas</a></li>
                        <li><a href="{{ url_for('offer', shop='vea', category='cola') }}">Cola</a></li>
                        <li><a href="{{ url_for('offer', shop='vea', category='lima') }}">Lima limon</a></li>
                        <li><a href="{{ url_for('offer', shop='vea', category='naranja') }}">Naranja</a></li>
                        <li><a href="{{ url_for('offer', shop='vea', category='pomelo') }}">Pomelo</a></li>
                        <li><a href="{{ url_for('offer', shop='vea', category='jugos') }}">Jugos</a></li>
                        <li><a href="{{ url_for('offer', shop='vea', category='leches') }}">Leches</a></li>
                        <li><a href="{{ url_for('offer', shop='vea', category='paniales') }}">Pañales</a></li>
                        <li><a href="{{ url_for('offer', shop='vea', category='yogures') }}">Yogures</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{ url_for('offers_by_shop', shop='walmart') }}">Walmart</a>
                    <ul class="sub">
                        <li><a href="{{ url_for('offer', shop='walmart', category='rebajas') }}">Rebajas</a></li>
                        <li><a href="{{ url_for('offer', shop='walmart', category='aperitivos') }}">Aperitivos</a></li>
                        <li><a href="{{ url_for('offer', shop='walmart', category='cervezas') }}">Cervezas</a></li>
                        <li><a href="{{ url_for('offer', shop='walmart', category='cola') }}">Cola</a></li>
                        <li><a href="{{ url_for('offer', shop='walmart', category='lima') }}">Lima limon</a></li>
                        <li><a href="{{ url_for('offer', shop='walmart', category='naranja') }}">Naranja</a></li>
                        <li><a href="{{ url_for('offer', shop='walmart', category='pomelo') }}">Pomelo</a></li>
                        <li><a href="{{ url_for('offer', shop='walmart', category='jugos') }}">Jugos</a></li>
                        <li><a href="{{ url_for('offer', shop='walmart', category='leches') }}">Leches</a></li>
                        <li><a href="{{ url_for('offer', shop='walmart', category='paniales') }}">Pañales</a></li>
                        <li><a href="{{ url_for('offer', shop='walmart', category='yogures') }}">Yogures</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Por categoria</a>
                    <ul class="sub">
                        <li><a href="{{ url_for('offers_by_category', category='aperitivos') }}">Aperitivos</a></li>
                        <li><a href="{{ url_for('offers_by_category', category='cervezas') }}">Cervezas</a></li>
                        <li><a href="{{ url_for('offers_by_category', category='cola') }}">Cola</a></li>
                        <li><a href="{{ url_for('offers_by_category', category='lima') }}">Lima limon</a></li>
                        <li><a href="{{ url_for('offers_by_category', category='naranja') }}">Naranja</a></li>
                        <li><a href="{{ url_for('offers_by_category', category='pomelo') }}">Pomelo</a></li>
                        <li><a href="{{ url_for('offers_by_category', category='jugos') }}">Jugos</a></li>
                        <li><a href="{{ url_for('offers_by_category', category='leches') }}">Leches</a></li>
                        <li><a href="{{ url_for('offers_by_category', category='paniales') }}">Pañales</a></li>
                        <li><a href="{{ url_for('offers_by_category', category='yogures') }}">Yogures</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div id="content">{% block content %}{% endblock %}</div>

<a href="#" class="float">
    ↑
</a>
<div id="footer">
    {% block footer %} {% endblock %}
</div>
</body>

</html>