{% extends "base.html" %}
{% block title %}Descuentos Cooperativa{% endblock %}

{% block content %}


{% for category in elements %}

{% for item in category['items'] %}
<div class="container">
    <div class="panel pricing-table">
        {% for element in item %}
        <div class="pricing-plan">
            <a href={{element.link}} target="_blank"> <img src={{element.imagen}} alt="" class="pricing-img"> </a>
            <h2 class="pricing-header">{{element.descripcion}}</h2>
            <ul class="pricing-features">
                {% if element.cantidad_promo != "1" %}
                <li
                        class="pricing-features-item">Llevando {{element.cantidad_promo}}
                </li>
                {%
                endif %}
                {% if element.descuento_porcentaje_promo is not none %}
                <li
                        class="pricing-features-item">Descuento
                    {{element.descuento_porcentaje_promo}}
                </li>
                {% endif %}
                {% if element.precio_anterior != element.precio_promo %}
                <li class="pricing-features-item">Precio anterior
                    {{element.precio_anterior}}
                </li>
                {% endif %}
            </ul>
            <span class="pricing-price">Pagas ${{element.precio_promo}}</span>
        </div>

        {% endfor %}
    </div>
</div>
{% endfor %}
<div class="last_update">Última actualización: {{ category['last_update'] }}</div>

{% endfor %}

{% endblock %}