{% extends "base.html" %} {% block title %}Descuentos Cooperativa{% endblock %} {% block content %} {% for item in elements %}
<div class="container">
    <div class="panel pricing-table">
        {% for element in item %} {% if element.shop == 'VEA' %}
        <!-- VEA-->
        <div class="pricing-plan">
            <a href={{element.link}} target="_blank"> <img src={{element.imagen}} alt="" class="pricing-img"> </a>
            <h2 class="pricing-header">{{element.descripcion}}</h2>
            <ul class="pricing-features">
                <li class="pricing-features-item">{{element.Descuento}}</li>
            </ul>
            <span class="pricing-price">Total ${{element.Total}}</span>
            <span class="pricing-price">Pagas ${{element.Individual}} c/u</span>
            <span class="pricing-stock">Stock: {{element.stock}}u</span>
            <span class="pricing-stock">Tienda: {{element.shop}}</span>
        </div>

        {% elif element.shop == 'COOPERATIVA' %}
        <!-- COOPERATIVA-->
        <div class="pricing-plan">
            <a href={{element.link}} target="_blank"> <img src={{element.imagen}} alt="" class="pricing-img"> </a>
            <h2 class="pricing-header">{{element.descripcion}}</h2>
            <ul class="pricing-features">
                {% if element.cantidad_promo != "1" %}
                <li class="pricing-features-item">Llevando {{element.cantidad_promo}}
                </li>
                {% endif %} {% if element.descuento_porcentaje_promo is not none %}
                <li class="pricing-features-item">Descuento {{element.descuento_porcentaje_promo}}
                </li>
                {% endif %} {% if element.precio_anterior != element.precio_promo %}
                <li class="pricing-features-item">Precio anterior {{element.precio_anterior}}
                </li>
                {% endif %}
            </ul>
            <span class="pricing-price">Pagas ${{element.precio_promo}}</span>
            <span class="pricing-stock">Tienda: {{element.shop}}</span>
        </div>

        {% elif element.shop == 'WALMART' %}
        <!-- WALMART-->

        <div class="pricing-plan">
            <a href={{element.link}} target="_blank"> <img src={{element.imagen}} alt="" class="pricing-img"> </a>
            <h2 class="pricing-header">{{element.descripcion}}</h2>
            <ul class="pricing-features">
                <li class="pricing-features-item">{{element.promo}}</li>
            </ul>
            <span class="pricing-price">Precio regular ${{element.list_price}}</span>
            <span class="pricing-price">Precio ${{element.price}}</span>
            <span class="pricing-price">Precio unitario ${{element.precio_unitario}} c/u</span>
            <span class="pricing-stock">Stock: {{element.stock}}u</span>
            <span class="pricing-stock">Tienda: {{element.shop}}</span>
        </div>


        {% endif %} {% endfor %}
    </div>
</div>

{% endfor %} {% endblock %}