{% extends "base.html" %}
{% block title %}IP's{% endblock %}

{% block content %}

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Address</th>
        <th scope="col">Resource</th>
    </tr>
    </thead>
    <tbody>
    {% for ips in elements %}
    <tr scope="row">
        <td>{{ips.date}}</td>
        <td>{{ips.address}}</td>
        <td>{{ips.resource}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}