{% extends "base.html" %}
{% block title %}Descuentos Vea{% endblock %}

{% block content %}
{% for category in elements %}

{% for item in category['items'] %}
<div class="container">
    <div class="panel pricing-table">
        {% for element in item %}

        <div class="pricing-plan">
            <a href={{element.link}} target="_blank"> <img src={{element.imagen}} alt="" class="pricing-img"> </a>
            <h2 class="pricing-header">{{element.descripcion}}</h2>
            <ul class="pricing-features">
                <li class="pricing-features-item">{{element.Descuento}}</li>
            </ul>
            <span class="pricing-price">Total ${{element.Total}}</span>
            <span class="pricing-price">Pagas ${{element.Individual}} c/u</span>
            <span class="pricing-stock">Stock: {{element.stock}}u</span>
        </div>

        {% endfor %}
    </div>
</div>
{% endfor %}
<div class="last_update">Última actualización: {{ category['last_update'] }}</div>

{% endfor %}

{% endblock %}